// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

$fa-font-path: "../webfonts";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";

#banner .experience {
    min-height: 100vh;
    position: relative;
    background: #000;
}
@media (max-width: 768px) {
    #banner .experience {
        padding-top: 100px;
    }
}
#banner .experience .experience__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-filter: blur(5px);
    filter: blur(5px);
}
#banner .experience .experience__name {
    font-size: 4rem;
}
#banner .experience .experience__rating .fas {
    font-size: 1rem;
}
#banner .experience .experience__description {
    $font-size: 1.2rem;
    $line-height: 1.625;
    $lines-to-show: 4;
    font-size: $font-size;
    font-weight: 300;
    line-height: $line-height;

    display: -webkit-box;
    height: $font-size*$line-height*$lines-to-show;

    -webkit-line-clamp: $lines-to-show;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.listing .experience {
    background: #000;
    position: relative;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    height: 250px;
    width: 250px;
}
.listing .experience img {
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
.listing .experience:hover img {
    opacity: 0.6;
}
.listing .experience:hover .experience__details {
    opacity: 1;
}
.listing .experience .experience__details {
    position: absolute;
    bottom: 1rem;
    left: 10px;
    right: 10px;
    opacity: 0;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
.listing .experience .experience__name {
    font-size: 1.5rem;
}
.listing .experience .experience__rating .fa-star {
    font-size: 0.9rem;
}
.listing .experience .experience__fav-icon {
    font-size: 1.5rem;
    cursor: pointer;
}

#show .experience {
    padding: 8% 0;
    background: #000;
    min-height: 100vh;
    position: relative;
}
#show .experience .experience__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-filter: blur(5px);
    filter: blur(5px);
}
#show .experience .experience__play-icon {
    width: 100px;
    height: 100px;
    background: #22a7f0;
    border-radius: 50%;
}
#show .experience__name {
    font-size: 3rem;
}
#show .experience__rating .fa-star {
    font-size: 0.9rem;
}
#show .experience__description {
    font-weight: 300;
    line-height: 2rem;
    font-size: 1.2rem;
    max-height: 400px;
    overflow: scroll;
}
body {
    background: #000;
}
.form-control[type="search"]::-webkit-input-placeholder {
    color: lightgray;
}
.form-control[type="search"]::-moz-placeholder {
    color: lightgray;
}
.form-control[type="search"]:-ms-input-placeholder {
    color: lightgray;
}
.form-control[type="search"]::-ms-input-placeholder {
    color: lightgray;
}
.form-control[type="search"]::placeholder {
    color: lightgray;
}
.bg-black-transparent {
    background: rgba(0, 0, 0, 0.8);
}
.fw-300 {
    font-weight: 300;
}
.fw-500 {
    font-weight: 500;
}
.fw-700 {
    font-weight: 700;
}

.score {
  display: inline-block;
  font-family: Wingdings;
  color: #ccc;
  position: relative;
}

.score::before,
.score span::before{
  content: "\2605\2605\2605\2605\2605";
  display: block;
}
.score span {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
